body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("cat.jpg");
    background-size: auto;
    color: #ddd;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
button {
    padding: 8px;
    font-size: 14px;
}

button {
    grid-column: span 2;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}